@font-face {
  font-family: "SF Pro Rounded";
  src: url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.eot");
  src: url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.svg#SF Pro Rounded")
      format("svg");
}
* {
  font-family: "SF Pro Rounded";
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  /* 1px <=> 0.0625rem */
}
body {
  background: #fff;
  margin: auto;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: #7a7a7a;
  text-decoration: none !important;
}
img{
  width: 100%;
}
.banner-top{
  height: 50px;
}
.banner-top img{
  height: 50px;
}
.thanh {
  width: 1px;
  height: 20px;
  background-color: #dfdfdf;
}
.button__left--content {
  left: -1.5%;
  font-size: 1rem;
  background: #ffffff80;
  color: #7F7F7F;
  top: calc((100% - 40px) / 2);
  box-shadow: 0px 0px 1px #7F7F7F50;
}
.button__right--content {
  right: -1.5%;
  font-size: 1rem;
  background: #ffffff80;
  color: #7F7F7F;
  top: calc((100% - 40px) / 2);
  box-shadow: 0px 0px 1px #7F7F7F80;
}
.button__left--content:hover {
  background: #ffffff;
  box-shadow: 0px 0px 10px #7F7F7F50;
}
.button__right--content:hover {
  background: #ffffff;
  box-shadow: 0px 0px 10px #7F7F7F50;
}
.text--danger {
  color: #F12C2C;
}
.row--maint {
  padding: 0 150px;
}
.col__custorm--5 {
  width: 20% !important;
}
.icon {
  width: 24px;
  height: 24px;
}
/*  */
.header {
  font-size: 0.875rem;
  color: #7F7F7F;
  line-height: 24px;
}
.header__top {
  background: #f9f9f9;
}
.header__top--content {
  height: 40px;
  max-width: 1520px;
}
.header__middle {
  box-shadow: 0px 0px 10px #7F7F7F20;
}
.header__middle--content {
  max-width: 1520px;
}
.number--cart{
  top: -12%;
  left: 22%;
  padding: 2px 3px;
  width: auto; 
  height: auto; 
  font-size:10px;
  line-height: 9px; 
  border-radius: 50%;
}
.header__middle .input--serch {
  outline: none;
  border: 1px solid #dfdfdf;
}
.header__middle .button--serch {
  background-color: #F12C2C;
}
/*  */
.menu > li {
  display: inline-block;
  border-left: 1px solid #dfdfdf;
  border-bottom: 2px solid #fff;
}
.menu > li:nth-child(1) {
  border-left: none;
}


/* Edit */
.menu > li > a:hover {
  border-bottom: 2px solid #00000030;
  color: #ff8c82;
}
.mega-menu:hover ~ a {
  border: none;
  color: #a0a0a0;
}
.menu > li > a {
  font-size: 0.875rem;
  height: 100%;
  color: #7f7f7f;
  line-height: 36px;
  padding: 10px 8px;
}
/* End Edit Menu */


.menu__lever--two {
  display: block;
  height: 700px;
  overflow: scroll;
}
.menu > li:hover .menu__lever--two {
  display: block;
}
.menu__lever--two li {
  border-bottom: 1px solid #dfdfdf;
}
.menu__lever--two li > a {
  font-size: 0.875rem;
  color:  #ff8c82;
  line-height: 36px;
}
.menu__lever--two li .rand {
  width: 100%;
  height: 1px;
  bottom: -63%;
  background-color: #ff8c82;
}
.menu__lever--three li > a {
  font-size: 0.875rem;
  color: #7F7F7F;
  line-height: 36px;
}
.menu__lever--three .view--all{
  color:  #ff8c82;
}
.menu__lever--three li {
  border: none;
}
.menu__lever--three li:hover > a {
  color:  #ff8c82;
}
/*  */
.banner--content {
  max-width: 1520px;
}
.banner--content--left .button__left--content {
  left: 0.5%;
  display: none;
  top: calc((100% - 40px) / 2);
}
.banner--content--left:hover .button__left--content {
  display: block;
}
.banner--content--left .button__right--content {
  right: 0.5%;
  display: none;
  top: calc((100% - 40px) / 2);
}
.banner--content--left:hover .button__right--content {
  display: block;
}
.banner--content--right {
  background-color: #fff9e6;
}
.banner--content--right--content {
  left: 5%;
  font-size: 1rem;
  color: #7F7F7F;
  top: calc((100% - 52px) / 2);
  line-height: 26px;
}
.banner--content--right--content .text--danger {
  font-size:  0.875rem;
}
.banner--content--right--button {
  left: 5%;
  bottom: 5%;
}
.banner--content--right .button {
  border: 1px solid #000;
  transition: background-color 1s ease;
}
.banner--content--right:hover .button {
  color: #fff;
  background-color: #333;
}
.banner--content--right img {
  transition: transform 0.5s ease;
}
.banner--content--right:hover img {
  transform: scale(1.2);
}
/*  */
.maint__title--right  span{
  color: #7F7F7F;
}
.maint__title--right  span:hover {
  box-shadow: 0px 0px 10px #7F7F7F50;
}
.uniti__title--item > .row > .col-2 {
  width: 10%;
}



/* Edit Tiệm ích Trang chủ */
.uniti__title--item--icon {
  font-size: 1rem;
  height: 100px;
  overflow-y: visible;
  color: #525252;
  line-height: 36px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.uniti__title--item--img {
  width: 50px;

}
.uniti__title--item--icon:hover {
  /* border: 1px solid #F12; */
  color: #FF8C82;
}
.uniti__title--item--icon:hover img {
  transform: scale(1.1);
  margin-bottom: 3px;
}
.uniti__title--item--icon img, .uniti__title--item--icon .uniti__title--item--img~div {
  transition: all 0.1s ease;
}
/* End Edit Tiện ích Trang chủ */




/*  */
.container {
  max-width: 1520px;
}
.maint__title{
  padding: 20px 0 10px;
  font-size: 1.25rem;
  line-height: 36px;
  color: #7a7a7a;
  border-bottom: 1px solid #00000010;
}
.maint__title--middle a{
    font-size: 1rem;
    color: #7a7a7a;
}
.maint__title--right a{
  font-size: 1rem;
  color: #7a7a7a;
}
.mant__item{
  padding-top: 10px;
}
.mant__content {
  font-size: 1rem;
  max-height: 320px;
  transition: box-shadow 1s ease;
  color: #7a7a7a;
  line-height: 24px;
}
.mant__content:hover {
  box-shadow: 0px 0px 5px #7F7F7F50;
}
.mant__content--show {
  height: 220px;
}
.mant__content--show .sale {
  top: 3%;
  font-size: 0.75rem;
  color: #7F7F7F;
  background: #fae690;
}
.mant__content--show .like {
  top: 4%;
  right: 4%;
  filter: opacity(0);
  transition: 1s ease;
}
.mant__content--show .bixu {
  bottom: 2.5%;
  font-size: 0.75rem;
  color: #ffc28b;
  transition: 0.8s ease;
  border: 1px solid #ffc28b;
}
.mant__content:hover .mant__content--show .bixu {
  color: #ffffff;
  background-color: #ffc28b;
}
.mant__content:hover .mant__content--show .like {
  filter: opacity(1);
}
.mant__content > .mant__content--show .img_thumbnail:nth-child(1) {
  display: block;
}
.mant__content:hover> .mant__content--show .img_thumbnail:nth-child(1) {
 display: none;
}
.mant__content > .mant__content--show .img_thumbnail:nth-child(2) {
  display: none;
}
.mant__content:hover> .mant__content--show .img_thumbnail:nth-child(2) {
  display: block;
  transform: scale(1.2);
}
.mant__content > .mant__content--show .img:nth-child(1) {
  display: block;
  transform: translateX(-15%);
}
.mant__content:hover > .mant__content--show .img:nth-child(1) {
  display: none;
}
.mant__content > .mant__content--show .img:nth-child(2) {
  display: none;
}
.mant__content:hover > .mant__content--show .img:nth-child(2) {
  display: flex;
}
.mant__content--show .button--slider > .button {
  width: 3px;
  margin-right: 2px;
  height: 3px;
  background-color: #00000050;
  border: 3px solid #00000050;
}
.mant__content--show .button--slider .active {
  width: 10px;
}
.mant__content--show .box--grif {
  top: 3%;
  width: 50px;
}
.box--grif .icon--tang {
  top: -29%;
  width: 20%;
  width: 15px;
  height: 20px;
}
.mant__content > .mant__content--show .img:nth-child(2) .button--tang {
  background-color: #fd6f7f;
}
.mant__content > .mant__content--show .img:nth-child(2) .icon--tang {
  right: 5%;
  top: -13%;
  width: 20px;
  height: 25px;
}
.mant__content > .mant__content--show .img:nth-child(2) .img--grif {
  width: 120px;
  height: 120px;
}
.box--grif .button--tang {
  line-height: 16px;
  font-size: 0.625rem;
  background: #fd6f7f;
}
.mant__content:hover > .mant__content--show .box--grif {
  display: none;
}
.mant__content .mant__content--info .cart .img_cart:nth-child(2) {
  display: none;
}
.mant__content:hover .mant__content--info .cart .img_cart:nth-child(2) {
  display: block;
}
.mant__content--info .name{
  color: #7F7F7F;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  height: 50px;
}
.float-start{
  font-size: 1.5rem;
  color: #919191;
}
.mant__content--info .price {
  font-size: 1rem;
  color: #525252;
}
.mant__content--info .price--sale {
  font-size: 0.875rem;
  color: #A3A3A3;
}
.float-end .fa-chevron-right:before {
  font-size: 10px !important;
}
/*  */
.hot__deal {
  background: #f9f9f9;
}
.breand__slider--content {
  height: 230px;
  object-fit: contain;
}
/*  */
.level__up--content {
  font-size: 1rem;
  height: 60px;
  color: #7F7F7F;
  line-height: 16px;
}
.levelup--content--one {
  border: 1px solid #ffbdbd;
  background-color: #fff7f7;
}
.levelup--content--two {
  border: 1px solid #ffbdbd;
  background-color: #fff7f7;
}
.levelup--content--three {
  border: 1px solid #c6feb0;
  background-color: #f8fdf6;
}
.levelup--content--ford {
  border: 1px solid #aef8ff;
  background-color: #f3fdfe;
}
.levelup--content--five {
  border: 1px solid #ffedb1;
  background-color: #fff9e6;
}
.hot__brand--content {
  height: 120px;
  border: 1px solid #aaaaaa50;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__post--content {
  font-size: 1rem;
  color: #7F7F7F;
  line-height: 24px;
}
.page__post--content--show {
  /* height: 212px; */
  height: 178px;
}
.page__post--content--info .name{
  color: #525252;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 1.125rem;
  font-weight: 500;
}

.name--custorm{
  font-size: 0.8125rem;
  font-weight: 400;
}
.page__post--content--info .content {
  font-size: 0.875rem;
  color: #7a7a7a;
}
.footer {
  border-top: 1px solid #00000010;
}
.footer ul{
  font-size: 0.875rem;
}

.footer__top {
  border-bottom: 1px solid #00000010;
}
.maint__footer {
  max-width: 1520px;
}
.footer__top .content {
  font-size: 1rem;
  color: #525252;
  line-height: 24px;
}
.footer__middle .title {
  font-size: 1rem;
  color: #525252;
  line-height: 24px;
  font-weight: 700;
}
.footer__middle .catelog {
  font-size: 0.875rem;
  color: #7a7a7a;
  line-height: 24px;
}

.payper img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icon--footer {
  font-size: 2rem;
}
.qr__footer {
  height: 84px;
}
.dowload__right img {
  height: 40px;
}
.icon_footer {
  height: 36px;
}
.footer__bottom {
  font-size: 0.875rem;
  color: #525252;
  line-height: 24px;
  border-top: 1px solid #00000010;
}
.footer__top img {
  height: 70px;
}
.img_footer {
  height: 50px;
}
.button__go--home{
  height: 55px;
  width: 55px;
}
.button__go--home {
  bottom: 30px;
  right: 3px;
}
.button__go--home .zalo{
  border-radius: 50%;
}
.button__go--home .icon__gohome {
  padding: 10px 10px;
  border-radius: 50%;
  width: 45px;
  box-shadow: 0px 5px 10px #7F7F7F50;
}
#lighttheme .react-multiple-carousel__arrow--left,#lighttheme .react-multiple-carousel__arrow--right{
  position: absolute;
  top: 45%;
  border-radius: 3px;
  border: 1px solid #ffffff60;
  background: #ffffff60;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  padding: 0px 0px;
}
#lighttheme .react-multiple-carousel__arrow--right{
  right: -27px;
}
#lighttheme .function .react-multiple-carousel__arrow--right{
  right: 0px !important;
}

#lighttheme .react-multiple-carousel__arrow--left{
  left: -20px;
}
#lighttheme .banner--content--left  .react-multiple-carousel__arrow--right{
  right: 5px;
}
#lighttheme .banner--content--left   .react-multiple-carousel__arrow--left{
  left: 5px;
}
.react-multiple-carousel__arrow{
  z-index: 1 !important;
}
#lighttheme .react-multiple-carousel__arrow::before{
  color: #7F7F7F;
}
#lighttheme .react-multiple-carousel__arrow--left:hover,#lighttheme .react-multiple-carousel__arrow--right:hover{
  background: #ffffff;
  box-shadow: 0px 0px 10px #7F7F7F50;
}
#lighttheme .react-multi-carousel-list{
  padding: 0px;
}
#lighttheme .slider--top{
  height: 425px;
}
#lighttheme .img--brand{
  width: 124px !important;
  height: 80px;
}
#lighttheme .product--gift .col-3{
padding: 0px;
}
#lighttheme .icon--call{
  width: 19px;
  height:  0.875rem;
}
#lighttheme .fixed {
  position: fixed;
  z-index: 5;
  top: 0px;
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.function{
  position: relative;
}
#lighttheme .function .react-multiple-carousel__arrow--left,
#lighttheme .function .react-multiple-carousel__arrow--right{
  position: absolute;
  top: -46px;
  border-radius: 3px;
  border: 1px solid #ffffff60;
  background: #ffffff60;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  padding: 0px 0px;
  width: 43px;
}
#lighttheme .function .react-multiple-carousel__arrow--left{
  left: 92%;
}
#lighttheme .function .react-multiple-carousel__arrow--left:hover,#lighttheme .function .react-multiple-carousel__arrow--right:hover{
  background: #ffffff;
  box-shadow: 0px 0px 10px #7F7F7F50;
}

.bread-crumb ul{
  font-size: 0.875rem;
  align-items: center;
}
.bread-crumb .parent>ul>li:hover>a>span {
  font-weight: 500;
  color: rgb(236, 77, 77);
}

.bread-crumb .parent:hover ul {
  display: block !important;
}

.bread-crumb .parent ul {
  min-width: 200px !important;
  left: -15px;
  box-shadow: 0px 0px 15px #7F7F7F20;
  display: flex;
  align-items: center;
}

.bread-crumb .parent ul li {
  padding: 6px 0; 
}
.bread-crumb  ul li {
  color: #7a7a7a;
}
.check-confirm button[disabled], html input[disabled] {
  cursor: default;
  color: #d9d9d9;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

/* Edit tooltip download */
.tooltip_QR>a>div {
  z-index: 1000;
  visibility: hidden;
}
.tooltip_QR:hover>a>div {
  visibility: visible;
}
.tooltip_QR .download_text {
  background: #F12;
  color: #fff;
  font-size: 14px;
  width: 95%;
  border-radius: 10rem;
  margin: 5px auto;
} 